html {
    font-size: 65.5%
}


body {
    background-color: aquamarine;
    font-family: 'Comic Neue';
    margin: 0;
    display: inline;
    overflow: auto;
}

.wrapper {
    max-width: 800 px;
    margin: 0 auto;
}

div {
    display: block;
}

body header {
    display: flex;
    gap: 40rem;
}

body header h1 {
    margin-left: 4rem;
    margin-top: 3.75rem;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}


.accordion {
    background-color: pink;
    color: skyblue;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    margin: 40px;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: hotpink;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: auto;
    background-color: #f1f1f1;
}